@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    background-color: #1c1f24;
    color: white;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
    flex-direction: column;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline-flex;
}

.nav li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.main-header {
    display: flex;
    margin-top: 1rem;
}

/* ... (kode sebelumnya) ... */

.search-bar {
    display: flex;
    /* Menambahkan display: flex; agar elemen sejajar */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    /* Menambahkan margin-bottom agar ada jarak antara search-bar dan table */
}

.search-bar input[type="text"] {
    width: 250px;
    height: 15px;
    outline: none;
    border: none;
    padding: 17px;
    border-radius: 40px;
    color: #fff;
    background-color: #2c2f34;
    font-family: "Quicksand";
    margin-right: 1rem;
    /* Menambahkan margin-right agar ada jarak antara input dan button */
}

.search-bar button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #a2a3a5;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

.back {
    text-decoration: none;
}

/* PRINT CETAk */
.cetak {
    margin-top: 2rem;
}

.cetak a {
    padding: 5px 10px;
    margin-right: 0.7rem;
    text-decoration: none;
    background-color: #68b984;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.table-style {
    width: 85rem;
    max-height: 35rem;
    /*background-color: #2c2f34;
    */
    margin-top: 1.5rem;
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
}

.table-style table {
    width: 100%;
    border-radius: 1rem;
    text-align: center;
}

.table-style tr th {
    color: #fdfdfd;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #61677a;
    padding: 0.5rem 0.7rem;
    margin-right: 1rem;
    position: sticky;
    top: 0; /* Menetapkan elemen th di bagian atas tabel saat di-scroll */
    z-index: 2; /* Mengatur z-index agar elemen th tetap di atas elemen lain */
}

/* Handle */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #464646;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

.table-style tr td {
    font-size: 0.8rem;
    padding: 1rem 0.7rem;
    border-bottom: 1px solid rgb(87, 85, 85);
    position: sticky;
    top: 0; /* Menetapkan elemen td di bagian atas tabel saat di-scroll */
    z-index: 1; /* Mengatur z-index agar elemen td tetap di atas elemen lain */
}

.table-style tr td img {
    vertical-align: middle; /* Menengahkan gambar di dalam sel */
    margin-right: 5px; /* Menambahkan margin-right agar ada ruang antara gambar dan teks */
}

.table-style button {
    border: none;
    width: 6rem;
    height: 2rem;
    background-color: #68b984;
    border-radius: 0.3rem;
    cursor: pointer;
}

/* Responsiveness for Tablets */
@media screen and (max-width: 768px) {
    .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .search-bar input[type="text"] {
        width: 100%;
    }

    .table-style {
        width: 100%;
        overflow-x: auto;
        /* Enable horizontal scrolling for small screens */
    }
}

/* Responsiveness for Phones */
@media screen and (max-width: 480px) {
    .container {
        margin-right: 2rem;
        margin-left: 1rem;
    }
}
