/* Table Style */
.table-style {
  width: 100%;
  max-height: 80vh;
  border-radius: 1rem;
  margin: 1rem auto;
  overflow: auto;
}
.table-style table {
  width: 100%;
  text-align: center;
}
.table-style tr th {
  color: #fdfdfd;
  border-radius: 0.5rem;
  background-color: var(--grey);
  padding: 0.5rem;
  position: sticky;
  top: 0; /* Menetapkan elemen th di bagian atas tabel saat di-scroll */
  z-index: 2; /* Mengatur z-index agar elemen th tetap di atas elemen lain */
}
.table-style tr td {
  font-size: 1rem;
  padding: 1rem 0.7rem;
  border-bottom: 1px solid rgb(87, 85, 85);
}
.table-style tr td img {
  width: 70px;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 120px;
  justify-content: left;
  background-image: url("../../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    var(--light-dark) 10%,
    rgba(0, 0, 0, 0) 50%
  );
}
.hero .content {
  text-align: left;
  color: white;
}
.hero .content .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}
.hero .content h1 {
  font-size: 4.7rem;
  font-family: "Catchy Mager";
}
.hero .content p {
  font-size: 1rem;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
}

/* content */
.restorant .restorant-content .restorant-content-head img {
  width: 500px;
  height: 700px;
  padding-top: 100px;
  padding-left: 50px;
  padding-bottom: 100px;
}

.restorant-content {
  display: flex;
}

.restorant-content .description-content-desc {
  padding: 100px 30px 50px 100px;
  color: white;
}
.restorant-content .description-content-desc p {
  margin-bottom: 15px;
}
.menu-selection h1 {
  text-align: center;
  color: white;
  padding-bottom: 50px;
}

.category-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 100px;
}

.category-menu .category-menu-list:hover {
  box-shadow: 2px 2px 10px white;
}
.category-menu-list-head {
  background-color: #c93647b9;
  border-radius: 10px 10px 0 0;
}
.category-menu-list-head img {
  width: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.category-menu-list-desc {
  padding: 5px;
  text-align: center;
  background-color: #c93647b9;
  color: white;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #c93647b9;
  color: white;
  padding: 15px 0;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1360px) {
  html {
    font-size: 80%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .accommodation-section,
  .room-section {
    padding: 80px 0;
  }
  .accommodation-section h3,
  .form-content .form-title {
    font-size: 52px;
  }
  .room-content {
    flex-direction: column;
  }
  .room-box .room-content .room-facility {
    flex: 1;
    padding: 0;
  }
  .room-box .room-content .room-details p {
    margin-bottom: 15px;
  }

  .myForm .form-group {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .myForm .form-group:last-child .form-box,
  .myForm .form-group:first-child .form-box {
    width: 80vw;
  }
  .form-group .form-box .input-group .form-input[type="date"] {
    width: 70vw;
  }
  .form-group .form-box .input-group .tel-inp-group .form-input {
    width: 90%;
  }

  .profil {
    width: 60%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }

  .profil {
    width: 100%;
  }

  .room-content .room-images .room-extra .order a {
    padding: 8px 10px;
  }
  .room-section h3,
  .form-content .form-title {
    font-size: 3em;
  }
  .form-group .form-box .input-group .tel-inp-group .form-input {
    width: 86%;
  }
}

/* Pesanan Page */
.pesanan-page {
  padding: 4rem 5rem;
  text-align: center;
}

/* Detail Pesanan Page */
.detail-pesanan-page {
  padding: 4rem 5rem;
}
.detail-pesanan-page h1 {
  padding-bottom: 1rem;
}
.detail-pesanan-page .header {
  line-height: 2.5rem;
}
.detail-pesanan-page .back {
  padding: 5px 10px;
  background-color: var(--grey);
  color: #fdfdfd;
  border-radius: 0.3rem;
}
.detail-pesanan-page .report a {
  padding: 5px 10px;
  margin-right: 0.7rem;
  background-color: var(--yellow);
  color: var(--dark);
  border-radius: 0.3rem;
}

/* Responsiveness for Tablets */
@media screen and (max-width: 768px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .search-bar input[type="text"] {
    width: 100%;
  }

  .table-style {
    width: 100%;
    overflow-x: auto;
  }
}

/* Responsiveness for Phones */
@media screen and (max-width: 480px) {
  .container {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}
